name: Destroy EC2 Using Terraform

on:
  workflow_dispatch:


permissions:
  id-token: write # REQUIRED for OIDC
  contents: read # REQUIRED to checkout the repo

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials (OIDC)
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::443598022287:role/GitHubActionsTerraformRole
        aws-region: ap-south-1

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: terraform init

    - name: Terraform Destroy
      run: terraform destroy -auto-approve
